.App{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.list-clients{
    color: violet;
    font-family:  Helvetica, sans-serif
}
li{
    padding: 20px;
    padding-left: 5px;
    display: block;
}
.data{
    display: inline;
   
}
.list-datas{
    margin-bottom: 1rem;
    height: 15rem;
    width: 26rem;
    align-items: center;
}

.list-datas h2{
    display: flex;
    margin-left: 2rem;
}

h2{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    color: violet;
}
.bnt-delete{
    height: 35px;
    font-size: 21px;
    margin-top: 0em;
    padding: 5px 20px;
    margin-left: 30px;
    border: 0;
    background-color: violet;
    color: black;
    border-radius: 3px;
    transition:  all 250ms ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: purple;
    }
    &:focus{
       outline: none;
    }
}

.div-deleted{
    width: 50rem;
    height: 90rem;
    background-color: aquamarine;
}
h2-deleted{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}